[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AneuFinder"]
	path = AneuFinder
	url = https://github.com/ataudt/aneufinder
[submodule "chromstaR"]
	path = chromstaR
	url = https://github.com/ataudt/chromstar
